* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --darkbgcolor: #0f0e0e;
    --graybgcolor: #181717;
    --lightbgcolor: #fbf5f3;
    --txtcolor: #E0E0E0;
    --breadcolor: #5B7553;
    --linkcolor: #9ddbad;

    --navlink-color: #0b3f3e;
    --universitea-green: #00d69f;
}

html,
body {
    font-size: 100%;
    font-family: "Lexend", "Roboto", sans-serif;
    line-height: 1.5em;
}

body {
    background-color: var(--darkbgcolor);
    color: var(--txtcolor);

    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}

section {
    width: 100%;
    box-sizing: border-box;
}

.section-dark {
    background-color: var(--darkbgcolor);
    color: var(--txtcolor);
}

.section-gray {
    background-color: var(--graybgcolor);
    color: var(--txtcolor);

    background: linear-gradient(to bottom,
            /* Direzione: dall'alto al basso */
            var(--darkbgcolor) 0%,
            /* 1. Inizia col colore della sezione PRECEDENTE */
            var(--graybgcolor) 15%,
            /* 2. Sfuma nel grigio entro il 15% dell'altezza */
            var(--graybgcolor) 85%,
            /* 3. Rimane grigio fino all'85% */
            var(--darkbgcolor) 100%
            /* 4. Sfuma nel colore della sezione SUCCESSIVA */
        );
}

/* =========================================
   ELEMENTI (Senza Griglia)
========================================= */

/* HEADER  */
.main-header {
    background-color: var(--universitea-green);
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    color: #fff;
    line-height: 1.1;
}

header h2 {
    font-size: 1rem;
    color: #ddd;
    font-weight: 300;
}

/* MENU */

#main-menu ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

#main-menu a {
    text-decoration: none;
    color: var(--navlink-color);
    font-size: 1rem;
    font-weight: 500;
    position: relative;

    /*FORMA DEL RIQUADRO CON HOVER*/
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

#main-menu a:hover {
    background-color: #02ab75;
    text-decoration: none;
}

/* 3. USER ACTIONS */

#user-actions ul {
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}


#user-actions a.btn-join {

    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 8px;
    background: transparent;
    text-decoration: none;

    color: var(--darkbgcolor);
    border: 2px solid var(--darkbgcolor);
    padding: 0.5em 1.5em;
    font-weight: 600;
    font-size: 1rem;

    box-shadow: 4px 4px 0px var(--darkbgcolor);

    transition:
        box-shadow 0.1s ease, background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

#user-actions a.btn-join:hover {
    box-shadow: 8px 8px 0px var(--darkbgcolor);
    transform: translate(-1px, -1px);

    background-color: transparent;
    color: var(--darkbgcolor);
}

#user-actions .cart-link {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;

    transition: background-color 0.2s ease;
}

#user-actions .cart-link img {
    width: 1.5em;
    height: auto;
    display: block;
}

#user-actions .cart-link:hover {
    background-color: #02ab75;
}

/* 4. BREADCRUMB */
#breadcrumb {
    padding: 1em 0;
}

/* 5. MAIN */
main {}

/* 6. FOOTER */
footer {
    margin-top: 2em;
    background-color: var(--lightbgcolor);
    color: var(--darkbgcolor);
}