*{
    padding: 0em;
    margin: 0em;
}

:root{
  --bgcolor: #040403;
  --txtcolor: #fff;
  --breadcolor: #5B7553;
  --linkcolor: #9ddbad;
  --visitedlinkcolor: #5B7553; 
}

html, body{
  font-size: 100%;
  font-family: "Lexend", "Roboto", sans-serif;
  line-height: 1.5em; 
  
}

body{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    max-width: 1200px;
    margin: auto;
}

a{
  color: var(--linkcolor);
}
a:visited{
    color: var(--visitedlinkcolor);
}


