<div class="restricted-overlay">
    <div class="restricted-modal">
        <div class="modal-icon">
            <img src="../../assets/images/universitea_logo.svg" alt="UniversiTea Logo" width="200">
        </div>

        <h2>Accesso Limitato</h2>
        <p>Per visualizzare questa pagina devi aver effettuato l'accesso con un account Standard</p>
        <p>I Venditori non possono comprare o aggiungere prodotti ai preferiti</p>

        <div class="modal-actions">
            <a href="./login.php" class="submit-btn btn-modal">Accedi</a>

            <a href="../../index.php" class="back-home-link submit-btn btn-modal">Torna alla Home</a>
        </div>
    </div>
</div>